{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" href="../static/myCss/about_us.css" />

<div class="Vision">
  <div class="visionhead">
    <b>Our Vision</b>
  </div>
  <div class="visionbody">
    To make our web application play a crucial part in our fellow brothers’
    hostel lives by ensuring that user-friendly ticket-raising solutions are
    provided by each department, thereby enabling each department to function
    efficiently and effectively.”
  </div>
</div>

<div class="Mission">
  <div class="missionhead">
    <b>Our Mission</b>
  </div>
  <div class="missionbody">
    To provide a comprehensive ticket-raising system that simplifies and
    automates the process of tracking and resolving user queries and issues,
    hence ensuring that brothers can reach out to any department with ease
  </div>
</div>

<section id="us">
  <div class="mb-5 ustext">
    <b>RYT Developers</b>
  </div>
  <div class="row">
    <div class="feature-box col-lg-4">
      <img src="../media/others/ssk.png" class="avatar" alt="bomma" />
      <br />
      <h3><b>Kulvanth</b></h3>
      <br />
      <h6>
       
      </h6>
    </div>

    <div class="feature-box col-lg-4">
      <img src="../media/others/sum.jpg" class="avatar" alt="bomma" />

      <h3><b>Sumukha Sreenidhi</b></h3>
      <br />
      <h6>
        
      </h6>
    </div>

    <div class="feature-box col-lg-4">
      <img src="../media/others/siva.png" class="avatar" alt="bomma" />

      <h3><b>Siva Rama Varma</b></h3>
      <br />
      <h6>
        
      </h6>
    </div>
  </div>
</section>

<div class="feedback">
  <div class="feedhead">Feedback & Suggestions</div>
  <div class="feedbody">
    We always respect your genuine feedback on our application.<br />
    So please feel free to send us your feedback and suggestions at
    rytmdh@gmail.com
    <br /><br />
    For any bug fixes or issues, do the same.
  </div>
</div>
{% endblock %}
